@charset "utf-8";
/* GENERAL STYLES */
ul,ol,li, h1,h2,h3,h4,h5,h6{list-style:none; margin:0; padding:0;}
*{outline:none}
html{height: 100%;}
body{font-family: 'open_sansregular', Arial, sans-serif; width: 100%;height: 100%;}
a{cursor:pointer; text-decoration:none !important;}
.menu-section a{color:#fff !important}
a:visitedddd, a:hover{color:#fff; text-decoration:none}
.container{width:100%; margin:0 auto;}
input[type=text], textarea, input[type=email], input[type=password]{
-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input:focus { outline: none;box-shadow: none;}

.nopadding{padding:0;}
.mainrow, #panel, .maincont, .maincols{height:100%;}

/** HEADER **/

.header{background-color:#406088; width:100%; padding:20px 0;}
.header h1{text-align:center;font-size:1.425em; color:#fff; text-transform:uppercase; font-family: 'ralewayregular', sans-serif; margin-top:11px;position:relative;left:-18px;z-index:0;}
.header h1.long{font-size:0.95em;}
.header .navbar-toggle {
    position: relative;
    float: left;
    padding: 0;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    background-color: transparent;
    background-image: none;
    border:none;
    border-radius: 0;
	z-index:9999;
	display:block !important;
}

.toggle-button{margin-left:10px !important;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:none;}


/** CONTENT AREA - PARTICIPATING COMPANIES PAGE **/

.whitebg{background:#fff;}
.content{clear:left; background:#fff; height:89.9%;width:100%;padding-bottom:60px;}
#landing .content{margin-top:0px}
.even{background:#eeeeee;}
.odd{background:#dddddd;}
.content ul.companylist li{border-bottom:2px solid #adadad; padding:0; clear:left; float:left;}
.sameheight{ height:135px;}


/*.innercompanylisting{position:absolute; height:100%; right: 0; top: 0;}
.innercompanylisting .innerdiv{position: relative; width: 80%; height: 100%; display: table; margin:0 auto;}
.sameheight{height: 100%;display: table-cell; vertical-align: middle;}*/

.logodiv, .profilediv{position: relative; top: 50%; transform: translateY(-50%);}
.logodiv span{background:#fff;}
.logodiv img{margin:0 auto; display:table}
.profilediv{margin-left:3%;}
.profilediv h2{font-size:1.125em; color:#3a3a3a; font-weight:600; margin-bottom:8px;}
.profilediv p{font-size:0.875em; color:#3a3a3a;}

      .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 11900;
        width: 300px;
		height:100%;
    overflow-y:scroll;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position:relative;
        z-index: 1000;
        margin-top:70px;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }

      .slideout-open .slideout-menu {
        display: block;
        border-right: 1px solid #406088;
      }

.toggle-button, .backarrow{float:left;}
.backarrow{font-size:30px !important; color:#fff;}
.memberprofile{background:#f39d4a; padding:15px 0; padding-top:25px;}
.memberprofile img{margin:0 auto; display:table;}
.memberprofile h2{color:#fff; font-size:1.5em; text-align:center; font-weight:normal; clear:left; margin-bottom:8px; margin-top:15px;}
.memberprofile p{color:#fff; font-size:1em; text-align:center; clear:left;}
.bgmenu{background:url(../images/bgmenu.png) no-repeat; height:100%;}
#menu{height:100%;}
.menu-section-list li a{padding:12px 10px; clear:left; float:left; width:100%; border-top:1px solid #56749e;  font-size:1em; font-weight:300;}
.menu-section-list li a:hover, .menu-section-list li a.active,.menu-section-list li a:visitedddd{background:#f39d4a; text-decoration:none;}
.fa{margin-right:10px;}


/*** LOGIN PAGE **/
.loginbg{background:url(../images/loginbg.png) no-repeat; width:100%; background-size:cover; padding-top:70px;position:absolute}
.loginicon{margin:0 auto; display:table;}
.aalogo{margin:0 auto; display:table;}
.aalogo  img{width:100%;}
.logindiv{width:90%; margin:0 auto; margin-top:50px;}
.input-wrapper {
  position: relative;
  margin-top:10px;
}

.input-wrapper:after {
  position: absolute;
  border: 1px solid #778499;
  border-top: none;
  height: 5px;
  width: 100%;
  bottom: 6px;
  left: 0;
  content: "";
}


.logindiv .input-wrapper {
  float:left;
  width:100%;
  position: relative;
  margin-top:10px;
}

.icon{float:left; margin-left:15px; color:#fff; font-size:20px; margin-top:10px; min-width:30px;}

.logindiv input{
  float:left;
  font-weight: 300;
  width: 78%;
  border-radius: 2px;
  border: none;
  padding-left: 7px;
  height: 34px;
  font-size: 1.125em;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom:5px;
  background-color:transparent;
  font-weight:300;
}

.logindiv input.loginbutton{width: 100%;
	height: 51px;
  margin-top:50px;
	-webkit-border-radius: 25px 26px 26px 25px/26px 26px 25px 25px;
	-moz-border-radius: 25px 26px 26px 25px/26px 26px 25px 25px;
	border-radius: 25px 26px 26px 25px/26px 26px 25px 25px;
	background-color: #f29338;
  font-size: 1.25em;
  padding-top:5px;
  font-weight:600;
  }
  
.forgotlink{text-align:center; width:100%; color:#fff; clear:left; float:left; margin-top:30px;  font-weight:300}



/** SCHEDULE PAGE **/

.currentschedule-container{background:#f39d4a; width:100%; float:left;}
.current-innercont{float:left; width:100%;color:#fff; padding:15px 0 10px}
.currentdate, .currentday{margin:0 auto; display:table; color:#fff;}
.currentdate{font-size:1.0625em;}
.currentday{font-size:2.625em; font-weight:700;}


.nextarrow{position:absolute; height:100%; right: 0; top: 0;}
.innerarrowdiv {position: relative; width: 80%; height: 100%; display: table; margin:0 auto;}
.nexticon{height: 100%;display: table-cell; vertical-align: middle;}



.content ul.meetinglist li{border-bottom:1px solid #cecece; padding:20px 0 15px; clear:left; float:left; }
.meetinglist .detaildiv h2{font-size:1.0625em; margin-bottom:10px; line-height:1.5em; font-weight:600;}
.meetinglist .detaildiv p{font-size:1em; margin-bottom:5px;}
.timediv{font-size:1.125em;}
.innerschedulelisting .sameheight{height:auto;}


/*** PROGRAM PAGE **/

.eventdate{width:100%; float:left; padding:10px 0; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background-color: #f39d4a; font-size:1.125em; color:#fff; margin-top:20px;}
.eventdate span.pull-left{padding-left:15px;}
.eventdate span.pull-right{padding-right:15px;}
.content ul.programlisting li:last-child{border-bottom:none}


/** TALK TO US PAGE - CHAT **/
.talktous{background:#e6e6e6; padding:0}

.direct-chat .box-body {
  margin-top:20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  overflow-x: hidden;
  padding: 0;
}
.direct-chat.chat-pane-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px 15px;
  height: 400px;
  overflow: auto;
}
#ask-a-quiz .direct-chat-messages {
	 padding:0px;
}
.direct-chat-msg,
.direct-chat-text {
  display: block;
}
.direct-chat-msg {
  margin-bottom: 30px;
}
.direct-chat-msg:before,
.direct-chat-msg:after {
  content: " ";
  display: table;
}
.direct-chat-msg:after {
  clear: both;
}
.direct-chat-messages,
.direct-chat-contacts {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.direct-chat-text {
  border-radius: 3px;
  position: relative;
  padding: 15px 15px;
  background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(19,19,19,.17);
	-moz-box-shadow: 0 1px 1px rgba(19,19,19,.17);
	box-shadow: 0 1px 1px rgba(19,19,19,.17);
  margin: 5px 0 0 50px;
  color: #535353;
  font-size: 0.9375em;
}
.direct-chat-text:after,
.direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #fff;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}
.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px;
}
.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px;
}
.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0;
}
.right .direct-chat-text:after,
.right .direct-chat-text:before {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #d2d6de;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.right .direct-chat-img {
  float: right;
}
.direct-chat-info {
   display: block;
  margin-bottom: 10px;
  font-size: 13px;
}
.direct-chat-name {
  font-weight: 600;
  font-size:13px;
}
.direct-chat-timestamp {
  color: #b1b1b1;
  text-transform:uppercase;
  font-size:12px;
}

.direct-chat-danger .right > .direct-chat-text {
  background: #dd4b39;
  border-color: #dd4b39;
  color: #ffffff;
}
.direct-chat-danger .right > .direct-chat-text:after,
.direct-chat-danger .right > .direct-chat-text:before {
  border-left-color: #dd4b39;
}
.direct-chat-primary .right > .direct-chat-text {
  background: #3c8dbc;
  border-color: #3c8dbc;
  color: #ffffff;
}
.direct-chat-primary .right > .direct-chat-text:after,
.direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #3c8dbc;
}
.direct-chat-warning .right > .direct-chat-text {
  background: #f39d4a;
  border-color: #f39d4a;
  color: #ffffff;
}
.direct-chat-warning .right > .direct-chat-text:after,
.direct-chat-warning .right > .direct-chat-text:before {
  border-left-color: #f39d4a;
}
.direct-chat-info .right > .direct-chat-text {
  background: #00c0ef;
  border-color: #00c0ef;
  color: #ffffff;
}
.direct-chat-info .right > .direct-chat-text:after,
.direct-chat-info .right > .direct-chat-text:before {
  border-left-color: #00c0ef;
}
.direct-chat-success .right > .direct-chat-text {
  background: #00a65a;
  border-color: #00a65a;
  color: #ffffff;
}
.direct-chat-success .right > .direct-chat-text:after,
.direct-chat-success .right > .direct-chat-text:before {
  border-left-color: #00a65a;
}

.box-footer {
  position:absolute;
  bottom:5px;
  float:left;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 0px 10px;
  width:100%;
  background-color: #ffffff;
}

.box-footer form{float: left; width: 100%;}

.box-footer input.msginput, #txtSurveyFeedback,#txtQuiz {
  background-color: transparent;
  border: medium none;
  border-radius: 2px;
  color: #535353;
  float: left;
  font-size: 1em;
  font-weight: 300;
  height: 34px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  width: 83%;
}

.box-footer .input-wrapper{width: 100%; float: left;}
.box-footer .input-wrapper:after{bottom: 4px;  border: 1px solid #bbbbbb; border-top: none;}
.sendbtn {
  background-color: transparent;
  float: left;
  height: 36px;
  margin-top: 5px;
  padding: 0;
  width: 15%;
}

/*** NOTIFICATIONS PAGE **/

.datestamp{font-size:0.9375em; font-weight:300; line-height:2em;}
.timestamp{clear:right;font-size:0.9375em; font-weight:300; line-height:1.875em;}
.notificationtextdiv{padding-left:0; padding-right:0;}
.notficationpostdate{padding-right:0; padding-left:0;}
.authorname{color:#3a3a3a; font-size:0.9375em; line-height:2em;}
.meetinglist .notificationtextdiv p{color:#838080; font-size:0.9375em;}

.notificationlist li{ position:relative; z-index:3; }
.deleteicon{clear:right; font-size:1.675em; margin-top:15px; color:#f39d4a; position:absolute; top:50%; right:0; z-index:500}
.deleteicon:hover{ color:#f39d4a;}



/*** MAIN MENU **/

.menu-section-list .fa, .toggle-button .fa{border-radius:50px; border:1px solid #fff; font-size:20px; width:40px; height:40px; text-align:center; padding-top:10px; color:#fff;}
.menu-section-list li a span{margin-left:8px;}

.toggle-button{background:none; border:none; color:#fff;}
.toggle-button .faa{background-color:#587599;}


/*** HOME PAGE **/
.innermenu-section-list li a{padding:12px 0px; clear:left; float:left; width:100%; border-bottom:1px solid #b5b5b5;  font-size:1.125em; font-weight:300; color:#333333; font-weight:400}
.innermenu-section-list li.active{background:#f39d4a; text-decoration:none;}
.innermenu-section-list .fa {
    width: 55px;
    height: 55px;
    border-radius: 32px;
     display: inline-block;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  overflow:hidden;
    border: 1px solid #FFF;
    padding-top: 12px;
    color: #FFF;
    background: #F39D4A none repeat scroll 0% 0%;
    font-size: 1.875em;
    text-align:center;
    -webkit-background-clip: border-box;
}
.innermenu-section-list li a span{margin-left:8px; font-weight:500; vertical-align:17px}
.nexticon .fa{font-size:24px; color:#fff;}


/*** SPEAKERS PAGE ***/

.speakerprofilepic{float:left; margin-right:10px;width: 20%;}
.speakerlist{float:left; padding-top:12px;width: 66%;}
.speakername{color:#3a3a3a; font-size:1.0625em; padding-bottom:6px;}
.speakertitle{color:#626262; font-size:0.8125em}
.innermenu-section-list .rightarrow .fa{float:right; width:auto; height:auto; border-radius:0; text-align:right; background:none; color:#c2c2c2; padding-top:20px; margin-right:0}
.innermenu-section-list li a span.speakerprofilepic{margin-left:0;}

/*** INNER SPEAKERS PAGE **/
.profile-picture{position:relative;}
.layer { background-color: rgba(69, 101, 141, 0.6); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index:20}
.imagedetails{position:absolute; z-index:40; bottom:20px; width:100%}
.imagedetails h2{color:#fff; text-align:center; width:100%}
.imagedetails p{color:#fff;  text-align:center; width:100%; margin-top:5px;}

.background-profile{clear:left;padding:20px}
.background-profile h3{font-weight:700; color:#3a3a3a; font-size:1.25em}
.background-profile p{font-weight:300; color:#525151; font-size:1em; line-height:1.75em}

/** SURVEY PAGE **/
.question {float: left;text-align: center; padding: 20px 15px; width: 100%; font-weight:300; line-height:1.5em; font-size:1.125em;}
.choices div {
  margin: 10px 2%;
  padding:0;
  background: #fff;
  float: left;
  height: 130px;
  text-align: center;
  padding: 0;
  width: 46%;
  position:relative;
  cursor:pointer;
}

.centering{position:absolute; height:100%; left: 0; top: 0; width:100%; margin:0; z-index:100}
.innercenter{position: relative; width: 100%; height: 100%; display: table; margin:0 auto;}
.innercenter span{height: 100%;display: table-cell; vertical-align: middle; color:#3a3a3a;}
.borderbottom{position:absolute; height:7px; background:#f39d4a; width:100%; bottom:0; left:0; -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;}
.clickedborderbottom{height:100%;}
.innercenter span.whitetext{color:#fff;}

.surveylinks{position:absolute; bottom:0; left:0; width:100%;}
.choices{padding-bottom:30px;}
.surveylinks a {text-align: center;float: left;width: 50%; color:#fff; padding:10px 0;}
.prevlink{background:#7e7e7e;}
.nextlink{background:#f39d4a;}




/*** LANDING PAGE **/
.landingbg{background:url(../images/mobilebg.png) no-repeat; width:100%; background-size:cover; height:auto}
.aasplash, .aasplashdetails{padding-top:30px;}
.tagline{background-color:#e07f26; padding:5px 10px; color:#fff; font-size:0.8125em; font-weight:800; text-align:center; width:auto;}
.conf-title{font-size:2em;color:#fff;font-weight:800; text-align:center; letter-spacing: 0.05em;}
.conf-smalltitle{color:#fff; font-size:1.0625em; text-align:center; letter-spacing: 0.05em;}


.centeredbox{margin:0 auto; display:table;}
.boxedtext{border:1px solid #fff; margin-top:10px; clear:left; float:left; padding:15px 15px;} 
.heading4{ font-size:1.125em; letter-spacing:0.4em; margin:0; text-align:center; color:#fff;}
.heading5{margin:0; font-size:1.125em; font-weight:700; letter-spacing:0.06em; padding-top:8px; text-align:center; color:#fff;} 
.loginlink{clear:left; float:left;width: 150px;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;background-color: #de6500; color:#fff; text-transform:uppercase; font-size:1.25em; text-align:center; margin-top:35px; padding:10px 0; text-decoration:none;} 
.registrationinput{padding-bottom:50px;}

.textinputcont .input-wrapper {
position: relative;
margin-top: 10px;
float: left;
width: 100%;
}

.textinputcont {
background: #fff;
float: left;
position: relative;
}
#talk-to-us{height:100%}

.choices .input-wrapper:after,#surverycont #txtSurveyFeedback{width:100%}
.choices div.col-sm-12, .choices div.col-sm-12 div, .choices div.col-sm-12 textarea {
	width: 96%;
	height:auto;
}