footer {
  background: #ccc none repeat scroll 0 0;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
}
.arrow-left, .arrow-right,.btn-home,#footermenu {
   color: #fff !important;
  font-size: 25px;
  position: absolute;
   z-index: 2000;
   top:7px;
}
.arrow-left {
  left: 15px;
}

 .btn-home {
  left:50%;
  margin-left:-13px;
 }
 .arrow-right, #footermenu {
  border: medium none;
  margin-top: 0;
  padding: 0;
  right: -10px;
  top: 2px;
}
#footermenu .fa.fa-bars {
  border: medium none;
  font-size: 26px;
}